.footer {
    padding: 100px 120px 60px;
    background: url("../imgs/footer/bg.png") center/1440px 593px no-repeat;
    &__allcolumns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__columns{
        margin-left: 126px;
    }
    &__columns:first-child{
        margin-left: 0;
    }
    &__columns:last-child{
        margin-left: 122px;
    }
    &__img{
        cursor: pointer;
    }
    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        /* identical to box height, or 154% */

        letter-spacing: 1.5px;
        text-transform: uppercase;

        color: #08090a;
    }
    &__link {
        display: block;
        margin-top: 28px;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        /* identical to box height, or 133% */

        color: #546285;
        
    }
    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        /* identical to box height, or 169% */

        letter-spacing: 0.36px;

        color: #546285;
        margin-top: 35px;
        max-width: 246px;
    }
    &__secondtext {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        /* identical to box height, or 169% */

        letter-spacing: 0.36px;

        color: #546285;
        min-width: 350px;
        
    }
    &__span {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        /* identical to box height, or 133% */

        color: #35b8be;
        cursor: pointer;
    }
    &__lastline{
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__imgs{
        display: flex;
        
    }
    &__icons{
        width: 40px;
        height: 40px;
        margin-right: 24px;
        cursor: pointer;
    }
    &__hr{
        margin-top: 120px;
        background: rgba(126, 130, 143, 0.09);
    }
}    
