.home {
    padding: 100px 0px 140px;
    background: url("../imgs/home/BG\ Shape.png") center/cover;
    &__title {
        max-width: 606px;
        margin-top: 57px;
        font-style: normal;
        font-weight: normal;
        font-size: 60px;
        line-height: 60px;
        /* or 100% */

        letter-spacing: 1.8px;

        color: #08090a;
        & .green {
            color: #35b8be;
        }
    }
    &__text {
        margin-top: 27px;
    }
    &__btn {
        background: #35b8be;
        border-radius: 6px;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 20px;
        /* identical to box height, or 118% */

        text-align: center;

        color: #ffffff;
        margin-top: 53px;
        padding: 20px 35px;
        border: none;
    }
    &__icon {
        margin-top: 40px;
        display: block;
    }
    &__sentence {
        margin-top: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */

        color: #08090a;
        & .green {
            color: #35b8be;
        }
        &__img{
            width: 600px;
            height: 580px;
        }
    }
}
